body{
    background-color: rgb(243, 233, 221);
    margin: 20px auto;
    width: 480px;
    font-family: sans-serif;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color:aquamarine;
    border-left: 1px solid rgb(12, 126, 88);
    border-bottom: 2px solid aquamarine;
}

h3{
   text-align: center;
}

.button{
    position: relative;
    width: 70px;
    height: 30px;
    font-size: 10px;
    background-color: aquamarine;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor:pointer;
    transition:width .5s,border-radius .5s;
}

.button *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25s;
}

.icon{
    opacity: 0;
}

.button:focus{
    width: 30px;
    background-color: #00fd8f;
    border-radius: 50%;
}

.button:focus .text{
    opacity: 0;
}

.button:focus .icon{
    opacity: 1;
    transition-delay: .5s;
}

select{
    margin-bottom: 20px;
}

#registerForm{
    background-color: whitesmoke;
    padding: 25px;
    flex: auto;
}