body{
    background-color: rgb(243, 233, 221);
    margin: 20px auto;
    width: 480px;
    font-family: sans-serif;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 10px;
    border-color:aquamarine;
    border-left: 1px solid rgb(12, 126, 88);
    border-bottom: 2px solid aquamarine;
}

.fileInput{
    border:none;
    border-radius: 0;
}

.information-collection{
    background-color: whitesmoke;
    padding: 25px;
    flex: auto;
}

canvas {
    margin: 0px auto;
    display: block;
    max-width: 100%;
}

#description {
    height: 120px;
}