form {
  background-color: whitesmoke;
  padding: 25px;
  flex: auto;
}

body {
  background-color: rgb(243, 233, 221);
  margin: 20px auto;
  width: 480px;
  font-family: sans-serif;
}

input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 50px;
  border-color: aquamarine;
  border-left: 1px solid rgb(12, 126, 88);
  border-bottom: 2px solid aquamarine;
  height: 50px;
  padding: 10px;
  outline: none;
  max-width: 100%;
}

h3 {
  text-align: center;
}

.button {
  border-radius: 50px;
  border: none;
  padding: 15px;
  background: lightseagreen;
  color: white;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  box-shadow: 3px 3px lightgray;
}

.error {
  margin: 30px;
  padding: 10px 10px 10px 10px;
  background-color: rgba(254, 4, 4, 0.493);
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: center;
}
